* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container {
  height: 70vh;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
}

    /*  the project page */
.project-main {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  /* width: 300px; */
  align-items: center;
  justify-content: centers;
  text-align: center;
}

.terminal-commands {
  display: flex;
  justify-content: space-between;
}

.terminal-div {
  max-width: 400px;
  width: 90%;
  background-color: aqua;
}

.primary-image {
  max-width: 350px;
  height: auto;
}
.image-css {
  width: 80%;
}

.image-output {
  width: 80%;
  
}