* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.project-h {
  color: rgb(185, 158, 123);
}

.container {
  height: 70vh;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
}

    /*  the project page */
.project-main {
  display: flex;
  justify-content: center;
  /* width: 300px; */
  align-items: center;
  justify-content: centers;
  text-align: center;
  margin-bottom: 5rem;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.terminal-commands {
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.terminal-div {
  flex: 1 1 300px;
  max-width: 400px;
  width: 100%;
  background-color: rgb(185, 158, 123);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-image {
  max-width: 350px;
  height: auto;
}
.image-css {
  width: 80%;
}

.image-output {
  width: 80%;
  height: 70%;
}

.project-p {
  width: 90%;
}

.terminal-h4 {
  width: 90%;
}

@media (max-width: 768px) {
  .terminal-commands {
    flex-direction: column;
    align-items: center;
  }
}